Repository apache/brpc, pull requests merged in 2022-10, with the labels that each got.

#1949 Update oncall.md
  community/oncall.md
Labels: oncall

#1836 enable brpc use rdma
  BUILD.bazel
  CMakeLists.txt
  Makefile
  bazel/config/BUILD.bazel
  config_brpc.sh
  docs/cn/rdma.md
  docs/en/rdma.md
  example/rdma_performance/CMakeLists.txt
  example/rdma_performance/Makefile
  example/rdma_performance/client.cpp
  example/rdma_performance/server.cpp
  example/rdma_performance/test.proto
  src/brpc/acceptor.cpp
  src/brpc/acceptor.h
  src/brpc/channel.cpp
  src/brpc/channel.h
  src/brpc/controller.cpp
  src/brpc/details/naming_service_thread.cpp
  src/brpc/details/naming_service_thread.h
  src/brpc/errno.proto
  src/brpc/event_dispatcher.h
  src/brpc/input_messenger.cpp
  src/brpc/input_messenger.h
  src/brpc/rdma/block_pool.cpp
  src/brpc/rdma/block_pool.h
  src/brpc/rdma/rdma_endpoint.cpp
  src/brpc/rdma/rdma_endpoint.h
  src/brpc/rdma/rdma_helper.cpp
  src/brpc/rdma/rdma_helper.h
  src/brpc/server.cpp
  src/brpc/server.h
  src/brpc/socket.cpp
  src/brpc/socket.h
  src/brpc/socket_inl.h
  src/brpc/socket_map.cpp
  src/brpc/socket_map.h
  test/CMakeLists.txt
  test/brpc_block_pool_unittest.cpp
  test/brpc_rdma_unittest.cpp
Labels: feature

#1970 Update pull_request_template.md Contributor Covenant Code of Conduct link
  .github/pull_request_template.md
Labels: kind/docs

#1971 Update CODE_OF_CONDUCT.md email address
  CODE_OF_CONDUCT.md
Labels: kind/docs

#1969 avoid std::string copy
  src/bvar/mvariable.cpp
Labels: module/bvar

#1967 add warning for rdma invoke when brpc is not compiled with rdma
  src/brpc/rdma/rdma_helper.cpp
Labels: kind/compile, module/rdma
