Repository apache/brpc, pull requests merged in 2022-09, with the labels that each got.

#1922 增加Nacos命名服务
  docs/cn/client.md
  docs/en/client.md
  src/brpc/global.cpp
  src/brpc/periodic_naming_service.cpp
  src/brpc/periodic_naming_service.h
  src/brpc/policy/nacos_naming_service.cpp
  src/brpc/policy/nacos_naming_service.h
  test/brpc_naming_service_unittest.cpp
  test/echo.proto
Labels: feature, module/extensions/naming-service

#1925 [document] Add vcpkg instruction step
  docs/cn/getting_started.md
  docs/en/getting_started.md
Labels: feature, kind/compile

#1937 fix bvar compile error
  src/bvar/mvariable.cpp
  src/bvar/variable.cpp
Labels: module/bvar, kind/compile

#1917 Fix bug butex_wait failed with timeout
  src/bthread/butex.cpp
  test/bthread_cond_bug_unittest.cpp
Labels: bug
